*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: Gainsboro;
}

body{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* HEADER */

.logo{
  position: relative;
  display: block;
  left:50%;
  margin-left: -69px;
}

header nav{
  margin-top: -71px;
}

nav ul{
  display: flex;
  padding: 0;
  margin: 0;
}

nav li{
  width: 140px;
  min-height: 57px;
  padding-top: 18px;
  list-style: none;
}

nav li:nth-child(1){
  margin-left: 71px;
}

nav li:nth-child(2){
  margin-right: auto;
  margin-left: 101px;
}

nav li:nth-child(3){
  margin-right: 101px;
  text-align: right;
}

nav li:nth-child(4){
  margin-right: 71px;
  text-align: right;
}

nav a{
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  letter-spacing: 0.008em;
}

nav a:hover,
nav a:focus{
  color: rgb(129, 179, 210);
  outline: 0;
}

nav a:active{
  color: rgba(0, 0, 0, 0.302);
}

.active-page{
  color: rgb(118, 99, 87);
}

.link-map{
  letter-spacing: 0.04em;
}

/* INDEX.html */

.welcome{
  height: 508px;
  margin-bottom: 60px;
  padding-top: 76px;
  background-color: rgb(98, 148, 191);
  background-image:  url("../img/intro-mask.svg"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size:100%, 100%;
  background-position: 0 451px, 0 -82px;
  text-align: center;
}

.about h2{
  margin-bottom: 27px;
  padding-left: 350px;
  padding-right: 350px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.008em;
}

.about p{
  margin-bottom: 51px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.008em;
}

.advantages{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.advantages h3{
  margin-bottom: 24px;
  padding-left: 95px;
  padding-right: 95px;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.008em;
}

.advantages p{
  margin-bottom: 21px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.008em;
}

.advantage-blue{
  width: 400px;
  min-height: 256px;
  padding: 25px;
  color:white;
  background-color: rgb(129, 179, 210);
}

.advantage-picture{
  width: 800px;
  min-height: 256px;
  background-color: rgb(129, 179, 210);
  background-repeat: no-repeat;
  background-size: cover;
}

.town{
  background-image:  url("../img/town.jpg");
  background-position: 0 -78px;
}

.bridge{
  background-image:  url("../img/bridge.jpg");
  background-position: 0 -76px;
}

.advice{
  width: 400px;
  min-height: 330px;
  padding: 25px;
  padding-top: 140px;
}

.house{
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.food{
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 61px;
}

.souvenir{
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 56px;
}

.advantage-grey{
  width: 400px;
  min-height: 256px;
  padding: 26px;
  background-color: rgb(238, 238, 238);
}

.search h2{
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
}

.search p{
  margin-bottom:47px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.search-button{
  display: block;
  width: 568px;
  min-height: 86px;
  margin: auto;
  padding: 10px;
  padding-top: 31px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 99, 87);
}

.search-button:hover,
.search-button:focus{
  background-color: rgb(96, 78, 67);
}

.search-button:active{
  color: rgb(146, 138, 133);
  background-color: rgb(80, 62, 51);
}

.hide{
  display:none;
}

.search-form{
  position: absolute;
  z-index: 1;
  left:50%;
  margin-left: -284px;
  width: 568px;
  min-height: 395px;
  padding: 55px;
  background-color: white;
  animation-duration: 0.5s;
  animation-name: fall-down;
}

@keyframes fall-down {
  0%{
    opacity: 0;
    transform: translateY(-198px) scaleY(0);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.modal-error {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.search-form form{
  display: flex;
  flex-wrap: wrap;
}

.search-form label{
  display: block;
  width: 110px;
  margin-right: auto;
  padding-top: 11px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.search-form .small-button{
  display: block;
  width: 38px;
  height: 38px;
  padding-top: 3px;
  background-color: rgb(242,242,242);
  border: none;
  cursor: pointer;
}

.search-form input{
  display: block;
  width: 308px;
  min-height: 38px;
  margin-bottom: 29px;
  padding: 3px 12px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(242,242,242);
  border: none;
}

.search-form input:hover{
  background-color: rgb(235,235,235);
}

.search-form input:focus{
  background-color: rgb(255,255,255);
  border: 2px solid rgb(229,229,229);
  outline: 0;
}

.search-form .check-out-date{
  margin-bottom: 30px;
}

.children{
  margin-left: 6px;
  padding-left: 48px;
}

.search-form .small-input{
  width: 38px;
  text-align: center;
}

.search-form .serach-button-main{
  display: block;
  width: 458px;
  min-height: 58px;
  margin-top: 25px;
  padding: 4px;
  font: inherit;
  font-size: 21px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background-color: rgb(129, 179, 210);
  border: none;
}

.search-form .serach-button-main:hover,
.search-form .serach-button-main:focus{
  background-color: rgb(102, 158, 192);
}

.search-form .serach-button-main:active{
  color: rgb(136, 182, 209);
  background-color: rgb(84, 150, 189);
}

.search-form button:hover line,
.search-form button:focus line{
  stroke:black;
}

.search-form button:hover path,
.search-form button:focus path{
  fill:black;
}

.search-form button:active line{
  stroke:rgb(129, 179, 210);
}

.search-form button:active path{
  fill:rgb(129, 179, 210);
}

.map{
  height: 593px;
  background-color: rgb(203,221,169);
  background-image:  url("../img/map.png");
  overflow: hidden;
}

.map iframe{
  margin-top: -200px;
}

/* HOTELS */

.search-filter form{
  display: flex;
  min-height: 217px;
  padding: 28px 71px 5px;
  background-color: rgb(44,62,74);
  background-image:  url("../img/filter-background.jpg");
  background-position: 0 -55px;
}

.search-filter h3{
  margin: 0;
  margin-bottom: 27px;
  font-size: 16px;
  font-weight: bold;
  color:white;
}

 .search-filter label{
  font-size: 14px;
  color:white;
}

.infrastructure{
  min-width: 200px;
}

.type-of-housing{
  min-width: 200px;
  margin-left: 56px;
}

.checkbox{
  margin-left: 23px;
  margin-bottom: 28px;
}

.checkbox input{
  opacity: 0;
}

.checkbox input:focus + label::before {
  outline: thin dotted;
  outline: rgb(60, 150, 250) auto 5px;
}

.checkbox label{
  position: relative;
  cursor: pointer;
}

.checkbox label::before{
  content: "";
  position: absolute;
  left:-40px;
  top:-1px;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.checkbox-input:checked + label::before{
  content: "";
  position: absolute;
  left:-40px;
  top:-1px;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

.checkbox-input:disabled + label::before{
  background: url(../img/checkbox-off-disabled.svg);
  }

.checkbox-input:checked:disabled + label::before{
  background: url(../img/checkbox-on-disabled.svg);
  }

/* range-filter*/

.filter-range{
  width: 318px;
  margin-left: auto;
  margin-right: 1px;
  color: #ffffff;
  box-sizing: content-box;
}

.filter-range h3 {
  margin-bottom: 12px;
  letter-spacing: 0.008em;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price{
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}


.price-controls input {
  width: 50px;
  margin: 0;
  padding-bottom: 10px; /* для ie11 */
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover,
.button-transparent:focus{
  color: #000000;
  background: #ffffff;
}

/* сортировка результатов */

.found{
  display: flex;
  flex-wrap: wrap;
  min-height: 87px;
  padding: 31px 72px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.found label,
.found output{
  font-size: 21px;
  font-weight: bold;
  color:black;
}

.found p{
  margin: 5px 0 0 48px;
  font-size: 12px;
  line-height: 18px;
}

.found ul{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 3px 0 0 7px;
  padding: 0;
}

.found li{
  margin-left: 33px;
  list-style: none;
}

.found a{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.found a:hover,
.found a:focus{
  color: rgb(129, 179, 210);
}

.found a:active{
  color: rgb(0, 0, 0);
  border-bottom:none;
}

.found .active-sort{
  color: rgb(129, 179, 210);
  border-bottom:none;
}

 .found .sort-arrow{
  margin-left: auto;
  padding-top: 5px;
  border: none;
}

.found .sort-arrow:last-child{
  margin-left: 12px;
  margin-right: 1px;
}

.sort-arrow:hover polygon,
.sort-arrow:focus polygon{
  fill: rgb(35, 31, 32);
}

 .sort-arrow:active polygon{
  fill: rgb(129, 179, 210);
}

.active-sort-button polygon{
  fill: rgb(136, 182, 209);
}

/* результаты поиска */

.hotel-name{
  font-size: 21px;
  font-weight: bold;
  color:black;
}

.hotel-name:hover,
.hotel-name:focus{
  color: rgb(129, 179, 210);
}

.hotel-name:active{
  color: rgb(202, 202, 202);
}

.search-result p{
  font-size: 14px;
  line-height: 21px;
}
.search-result ul{
  margin: 0px;
  padding: 0px;
}

.search-result li{
  display: flex;
  min-height: 151px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(229, 229, 229);
  list-style: none;
}

.hotel-result-picture{
  width: 135px;
  height: 90px;
  margin-top: 30px;
  margin-left: 72px;
}

.hotel-result-name{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 258px;
  min-height: 90px;
  margin-top: 25px;
  margin-left: 30px;
}

.hotel-result-name h3{
  width: 258px;
  margin: 0;
  letter-spacing: 0.015em;
}

.hotel-result-name p{
  width: 110px;
  min-height: 40px;
  margin: 0;
  padding-top: 8px;
}

.hotel-result-name p:nth-child(3){
  width: 142px;
}

.hotel-result-raiting{
  margin-left: auto;
  margin-right: 71px;
}

.hotel-button{
  display: block;
  min-height: 27px;
  margin-top: 3px;
  padding: 3px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.details{
  width: 110px;
  background-color: rgb(129, 179, 210);
}

.details:hover,
.details:focus{
  background-color: rgb(102, 158, 192);
}

.details:active{
  color: rgb(136, 182, 209);
  background-color: rgb(84, 150, 189);
}

.book{
  width: 142px;
  background-color: rgb(118, 99, 87);
}

.book:hover,
.book:focus{
  background-color: rgb(96, 78, 67);
}

.book:active{
  color: rgb(146, 138, 133);
  background-color: rgb(80, 62, 51);
}

.stars{
  width: 110px;
  height: 17px;
  margin-top: 29px;
  margin-bottom: 47px;
  margin-left: auto;
  font-size: 0;
  text-align: right;
}

.stars span{
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-left: 6px;
  font-size: 14px;
  color: transparent;
  vertical-align: top;
  background-image:  url("../img/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.raiting{
  width: 110px;
  padding: 3px 2px 3px 16px;
  margin: 0;
  margin-left: auto;
  margin-right: 3px;
  background-color: rgb(242, 242, 242);
}

/* FOOTER */

.footer{
  display: flex;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-page{
  position: absolute;
  width: 1200px;
  bottom: 0px;
/*margin-top: -120px;
  z-index: 1; */
}

.visitsedona{
  margin-top: 46px;
  margin-left: 132px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}

.footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 150px;
  margin-top: 36px;
  margin-left: 256px;
  padding:0;
}

.copyright{
  display: flex;
  margin-top:31px;
  margin-left: auto;
  margin-right: 101px;
}

.copyright p{
  margin-top: 15px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 26px;
}

.copyright svg{
  margin-top: 8px;
}

.footer li{
  margin-bottom: 5px;
  list-style: none;
}

.social-button{
  display: block;
  width: 46px;
  height: 48px;
  text-align: center;
  background-color: rgb(129, 179, 210);
}

.social-button:hover,
.social-button:focus{
  background-color: rgb(102, 158, 192);
}

.social-button:active{
  background-color: rgb(84, 150, 189);
}

.social-button:active path{
 fill: rgb(136, 182, 209);
}

.twitter{
  padding-top: 17px;
}

.facebook{
  padding-top: 13px;
}

.youtube{
  padding-top: 16px;
}

.academy-logo:hover path,
.academy-logo:focus path{
  fill: rgb(127, 179, 210);
}

.academy-logo:active path{
 fill: rgb(189, 187, 188);
}

.sort-arrow,   /* fix for ie11 */
.academy-logo,
.social-button{
  display: block;
  position: relative;
}

.sort-arrow:before,  /* fix for ie11 */
.academy-logo:before,
.social-button:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.text-fix{
  letter-spacing: 0.02em;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
