body{
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
}

/* HEADER */

nav li{
  list-style: none;
}

nav a{
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

nav a:hover,
nav a:focus{
  color: rgb(129, 179, 210);
}

nav a:active{
  color: rgba(0, 0, 0, 0.302);
}

.active-page{
  color: rgb(118, 99, 87);
}

/* INDEX.htnl */

.welcome{
  height: 508px;
  box-sizing: border-box;
  background-color: rgb(98, 148, 191);
  background-image:  url("../img/intro-mask.svg"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size:100%, 100%;
  background-position: 0 451px, 0 -82px;
  text-align: center;
  padding-top: 76px;
  margin-bottom: 60px;
}

.about h2{
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}

.about p{
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.advantages h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advantages p{
  font-size: 14px;
  line-height: 21px;
}

.blue-block{ /* наверное временное название класса */
  background-color: rgb(129, 179, 210);
  color:white;
}

.search h2{
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search p{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom:45px;
}

.search-button{
  display: block;
  box-sizing: border-box;
  width: 568px;
  height: 86px;
  margin: auto;
  padding-top: 31px;
  font-size: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(118, 99, 87);
}

.search-button:hover,
.search-button:focus{
  background-color: rgb(96, 78, 67);
}

.search-button:active{
  background-color: rgb(80, 62, 51);
  color: rgb(146, 138, 133);
}

.hotels-modal{
  display:none;
}

/* HOTELS */

.hotel-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color:black;
}

.hotel-name:hover,
.hotel-name:focus{
  color: rgb(129, 179, 210);
}

.hotel-name:active{
  color: rgb(202, 202, 202);
}

.search-result p{
  font-size: 14px;
  line-height: 21px;
}

.search-result li{
  list-style: none;
}

.hotel-button{
  display: block;
  box-sizing: border-box;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 3px;
}

.details{
  width: 110px;
  background-color: rgb(129, 179, 210);
}

.details:hover,
.details:focus{
  background-color: rgb(102, 158, 192);
}

.details:active{
  background-color: rgb(84, 150, 189);
  color: rgb(136, 182, 209);
}

.book{
  width: 142px;
  background-color: rgb(118, 99, 87);
}

.book:hover,
.book:focus{
  background-color: rgb(96, 78, 67);
}

.book:active{
  background-color: rgb(80, 62, 51);
  color: rgb(146, 138, 133);
}

/* FOOTER */

.visitsedona{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

footer li{
  list-style: none;
}

.social-button{
  display: block;
  box-sizing: border-box;
  width: 46px;
  height: 48px;
  margin: 10px; /* временно */
  text-align: center;
  background-color: rgb(129, 179, 210);
}

.social-button:hover,
.social-button:focus{
  background-color: rgb(102, 158, 192);
}

.social-button:active{
  background-color: rgb(84, 150, 189);
  /* color: rgb(136, 182, 209); тут будет замена цвета svg на этот, по клику.*/
}

.twitter{
  padding-top: 17px;
}

.facebook{
  padding-top: 13px;
}

.youtube{
  padding-top: 16px;
}

.copyright{
  font-size: 14px;
  line-height: 26px;
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
