*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: white;
}

a {
  text-decoration: none;
}

/* HEADER */

.logo{
  position: relative;
  left:50%;
  margin-left: -69px;
}

header nav{
  margin-top:-74px;
}

nav ul{
  display: flex;
  padding: 0;
  margin: 0px;
}

nav li{
  list-style: none;
  width: 140px;
  min-height: 56px;
  padding-top: 15px;
}

nav li:nth-child(1){
  margin-left: 71px;
}

nav li:nth-child(2){
  margin-left: 100px;
  margin-right: auto;
}

nav li:nth-child(3){
  margin-left: auto;
  margin-right: 100px;
  text-align: right;
}
nav li:nth-child(4){
  margin-right: 71px;
  text-align: right;
}

nav a{
  font-size: 14px;
  line-height: 26px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

nav a:hover,
nav a:focus{
  color: rgb(129, 179, 210);
}

nav a:active{
  color: rgba(0, 0, 0, 0.302);
}

.active-page{
  color: rgb(118, 99, 87);
}

/* INDEX.htnl */

.welcome{
  height: 508px;
  background-color: rgb(98, 148, 191);
  background-image:  url("../img/intro-mask.svg"), url("../img/welcome-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size:100%, 100%;
  background-position: 0 451px, 0 -82px;
  text-align: center;
  padding-top: 76px;
  margin-bottom: 60px;
}

.about h2{
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 350px;
  padding-right: 350px;
}

.about p{
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 50px;
}

.advantages{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.advantages h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  padding-left: 95px;
  padding-right: 95px;
}

.advantages p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px
}

.advantage-blue{
  width: 400px;
  min-height: 256px;
  background-color: rgb(129, 179, 210);
  color:white;
  padding: 25px;
}

.advantage-picture{
  width: 800px;
  min-height: 256px;
  background-color: rgb(129, 179, 210);
}

.advantage-picture img{
  display: block;
  object-fit: cover;
  object-position: 0 -78px;
}

.advice{
  width: 400px;
  min-height: 330px;
  padding: 25px;
  padding-top: 140px;
}

.house{
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.food{
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 60px;
}

.souvenir{
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 58px;
}

.advantage-grey{
  width: 400px;
  min-height: 256px;
  background-color: rgb(238, 238, 238);
  padding: 25px;
}

.search h2{
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search p{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom:45px;
}

.search-button{
  display: block;
  width: 568px;
  height: 86px;
  margin: auto;
  padding-top: 31px;
  font-size: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgb(118, 99, 87);
}

.search-button:hover,
.search-button:focus{
  background-color: rgb(96, 78, 67);
}

.search-button:active{
  background-color: rgb(80, 62, 51);
  color: rgb(146, 138, 133);
}

.hotels-modal{
  display:none;
}

/* HOTELS */

.search-filter form{
  background-image:  url("../img/filter-background.jpg");
  display: flex;
  min-height: 217px;
  padding: 28px 71px 5px;
}

.search-filter h3{
  font-size: 16px;
  font-weight: bold;
  color:white;
  margin: 0;
  margin-bottom: 27px;
}

 .search-filter label{
  font-size: 14px;
  color:white;
}

/* .search-filter .range{
  font-size: 14px;
  line-height: 21px;
  color:white;
} */

.infrastructure{
  min-width: 200px;
}

.type-of-housing{
  min-width: 200px;
  margin-left: 56px;
}

.checkbox{
  margin-bottom: 28px;
  margin-left: 23px;
}

.checkbox input{
  visibility: hidden;
}

.checkbox label{
  position: relative;
}

.checkbox label::before{
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  left:-40px;
  top:-1px;
}

.checkbox-input:checked + label::before{
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  left:-40px;
  top:-1px;
}



/* range-filter*/



.filter-range{
  width: 318px;
  margin-left: auto;
  margin-right: 1px;
  color: #ffffff;
  box-sizing: content-box;
}

.filter-range h3 {
  margin-bottom: 13px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  vertical-align: center;
  cursor: pointer;
}

.price-controls .min-price{
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 56px;
}


.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}





/* сортировка результатов */

.found{
  display: flex;
  min-height: 87px;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 31px 72px;
}

.found label,
.found output{
  font-size: 21px;
  font-weight: bold;
  color:black;
}

.found ul{
  padding: 0;
  margin: 3px 0 0 7px;
  display: flex;
}

.found li{
  list-style: none;
  margin-left: 33px;
}

.found p{
  font-size: 12px;
  line-height: 18px;
  margin: 5px 0 0 48px;
}

.found button{
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.found button:last-child{
  margin-left: 12px;
  margin-right: 1px;
}

.active-sort-button polygon{
  fill: rgb(136, 182, 209);
}

.found polygon:hover,
.found polygon:focus{
  fill: rgb(35, 31, 32);
}

.found polygon:active{
  fill: rgb(129, 179, 210);
}

.found a{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.302);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.found a:hover,
.found a:focus{
  color: rgb(129, 179, 210);
}

.found a:active{
  color: rgb(0, 0, 0);
  border-bottom:none;
}

.found .active-sort{
  color: rgb(129, 179, 210);
  border-bottom:none;
}

.hotel-name{
  font-size: 21px;
  font-weight: bold;
  color:black;
}

.hotel-name:hover,
.hotel-name:focus{
  color: rgb(129, 179, 210);
}

.hotel-name:active{
  color: rgb(202, 202, 202);
}

/* результаты поиска */

.search-result{
  margin-bottom: 3px;
}

.search-result p{
  font-size: 14px;
  line-height: 21px;
}
.search-result ul{
  padding: 0px;
  margin: 0px;
}

.search-result li{
  list-style: none;
  display: flex;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 30px;
  min-height: 151px;
}

.hotel-result-picture{
  margin-top: 30px;
  margin-left: 72px;
  height: 90px;
}

.hotel-result-name{
  width: 258px;
  min-height: 90px;
  margin-top: 25px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-result-name h3{
  width: 258px;
  margin: 0;
}

.hotel-result-name p{
  width: 110px;
  min-height: 40px;
  margin: 0;
  padding-top: 8px;
}

.hotel-result-name p:nth-child(3){
  width: 142px;
}

.hotel-result-raiting{
  margin-left: auto;
  margin-right: 74px;
}

.hotel-button{
  display: block;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 3px;
  margin-top: 3px;
}

.details{
  width: 110px;
  background-color: rgb(129, 179, 210);
}

.details:hover,
.details:focus{
  background-color: rgb(102, 158, 192);
}

.details:active{
  background-color: rgb(84, 150, 189);
  color: rgb(136, 182, 209);
}

.book{
  width: 142px;
  background-color: rgb(118, 99, 87);
}

.book:hover,
.book:focus{
  background-color: rgb(96, 78, 67);
}

.book:active{
  background-color: rgb(80, 62, 51);
  color: rgb(146, 138, 133);
}

.stars{
  width: 110px;
  height: 17px;
  text-align: right;
  margin-top: 28px;
  margin-bottom: 47px;
  position: relative;
  color:white; /*  xD */
}

.stars span::before{
  content: "";
  background-image:  url("../img/star.svg");
  width: 18px;
  height: 17px;
  position: absolute;
}
.stars span{
  margin-left: 7px;
}

.raiting{
  width: 110px;
  background-color: rgb(242, 242, 242);
  padding: 3px 2px 3px 16px;
  margin: 0;
}

/* FOOTER */

.footer{
  display: flex;
  min-height: 120px;
}

.visitsedona{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 132px;
  margin-top: 43px;
}

.footer ul{
  padding:0;
  width: 150px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-top: 33px;
  margin-left: 256px;
}

.copyright{
  display: flex;
  margin-top:28px;
  margin-left: auto;
  margin-right: 101px;
}

.copyright p{
  font-size: 14px;
  line-height: 26px;
  margin-right: 8px;
  margin-top: 15px;
}

.copyright svg{
  margin-top: 8px;
}

.footer li{
  list-style: none;
  margin-bottom: 5px;
}

.social-button{
  display: block;
  width: 46px;
  height: 48px;
  text-align: center;
  background-color: rgb(129, 179, 210);
}

.social-button:hover,
.social-button:focus{
  background-color: rgb(102, 158, 192);
}

.social-button:active{
  background-color: rgb(84, 150, 189);
}

.social-button:active path{
 fill: rgb(136, 182, 209);
}


.twitter{
  padding-top: 17px;
}

.facebook{
  padding-top: 13px;
}

.youtube{
  padding-top: 16px;
}

.academy-logo:hover path,
.academy-logo:focus path{
  fill: rgb(127, 179, 210);
}

.academy-logo:active path{
 fill: rgb(189, 187, 188);
}

.main-page{
  position: absolute;
  width: 1200px;
  min-height: 120px;
/*   bottom: -120px; как его поднять на 120 пикселей вверх так и не понял*/
  background-color: rgba(255, 255, 255, 0.9)
}

/* VISUALLY HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
